@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');


.background-image {
    background-image: url("https://assets.ccbp.in/frontend/static-website/flats-list-bg.png");
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.container {
    text-align: center;
    background-color: #ffffff;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 10px;

}

.heading {
    color: #f19116;
    font-family: "Bree Serif";
    font-size: 30px;
    padding-top: 35px;
}

.para {
    color: #0f0e46;
    font-family: "Bree Serif";
    font-size: 15px;
}

.button {
    color: #ffffff;
    background-color: #f19116;

}

.background-color2 {
    background-color: #222222;
    height: 900px;
}

.sunrise-heading {
    color: #f19116;
    font-family: "Bree serif";
    font-size: 30px;
    padding-top: 25px;
    padding-left: 20px;
}

.card-color {
    background-color: #ffffff;
    border-radius: 5px;
    margin: 20px;

}

.padding-list {
    padding: 25px;
}

.list-card1-image {
    height: 225px;
    width: 90px;
}

.list-card-heading {
    color: #0f0e46;
    font-family: "Bree Serif";
    font-size: 25px;
}

.list-card-para {
    color: #0f0e46;
    font-family: "Bree Serif";
}

.button-back {
    color: #ffffff;
    background-color: #f19116;
    width: 100px;
    margin: 20px;
}


.background-color-3bhk {
    background-color: #222222;
    height: 400px;
}

.padding-list-3bhk {
    padding: 35px;
}

.image-3bhk {
    height: 350px;
    width: 565px;
}

.image-location {
    height: 60px;
    width: 50px;
    padding-top: 15px;
}

.heading1-3bhk {
    color: #f19116;
    font-family: "Bree Serif";
    font-size: 25px;
}

.location-heading {
    color: #ffffff;
    font-family: "Bree Serif";
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
}

.list-card-para-3bhk {
    color: #ffffff;
    font-family: "Bree Serif";
    font-size: 15px;
}

.text-center {
    text-align: center;
}
